@*@Using Microsoft.Web.Helpers;*@
@{
    Layout = " _SULayout.cshtml";
    Page.Title = "Math and Computer Science Intern Employer Form";
}


<div id="intern_app" title="new_intern_application">
    <form id="entry-form" method="post" enctype="multipart/form-data">
        <div class="row">
            <span class="label">Intern Employer Signature:</span>
            <label><input type="text" name="fuse_uname" class="required" /></label>
        </div>
        <div class="row">
            <span class="label"><label for="sem_year">Current Date</label></span>
            <input type="date" name="sem_year" id="sem_year" class="required" />
        </div>
    </form>
</div>