@*@Using Microsoft.Web.Helpers;*@
@{
    Layout = " _SULayout.cshtml";
    Page.Title = "Math and Computer Science Intern Advisor Form";
}


<div id="intern_app" title="new_intern_application">
    <form id="entry-form" method="post" enctype="multipart/form-data">
        <div class="row">
            <span class="label">Intern Advisor Signature:</span>
            <label><input type="radio" name="fuse_uname" class="required" />COSC 380 </label>
            <label><input type="radio" name="fuse_uname" />MATH 380</label>
        </div>
        <div class="row">
            <span class="label"><label for="sem_year">Semester/Year of Enrollment: (Ex. Fall 2017)</label></span>
            <input type="text" name="sem_year" id="sem_year" class="required" />
        </div>
    </form>
</div>